@import url("https://fonts.googleapis.com/css2? family= Alex+Brush & display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  padding-top: 20px;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}


/*---------Presentación----------*/
.presentation {
  background-image: url("../css/img/nos_cassmos_escritorio.jpg");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contain-presentation{
  position: absolute;
  right: 40%;
  bottom: 85%;
}

.title {
  font-family: "Alex Brush", cursiva;
  text-align: center;
  font-size: 27px;
  margin-top: 30px;
  color: #566270;
}

h1 {
  font-family: "Alex Brush", cursiva;
  font-size: 38px;
  font-weight:lighter;
  color: #cca352;
  text-align: center;
  margin-top: 22px;
}

.date {
  font-family: "Gentium Basic", serif;
  font-size: 25px;
  color: #566270;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 10px;
}

.subtitle {
  font-family: "Alex Brush", cursiva;
  color: #a1864c;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  margin-top: 60;
}


.day {
  font-family: "Gentium Basic", serif;
  margin-top: 35px;
  color: #566270;
  text-align: center;
  font-size: 20px;
}


p {
  margin-top: 20px;
  font-family: "Gentium Basic", serif;
  font-size: 18px;
  font-weight: 250;
  color: #566270;
  text-align: center;
}





/* ----- Cuenta Regresiva ----- */
#contador {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Gentium Basic", serif;
  color: #566270;
  block-size: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.simply-section {
  margin-bottom: auto;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.simply-amount {
  display: flex;
  flex-flow: row wrap;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
}


.simply-word {
  font-weight: 200;
  font-size: 15px;
}

.section-counter {
  margin-top: 40px;
}

/*------ceremonia-----*/
.ceremony {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-bottom: 99px;
}

.contenedor {
  max-width: 960px;
  margin: 0 auto;
}

.bloque h2 {
  margin-bottom: 50px;
  font-size: 25px;
}

.bloque h1 {
  line-height: 80px;
  text-align: center;
  margin: 0;
  padding-block: 150px;
}

.bloque p {
  margin-bottom: 50px;
  font-size: 20px;
}

.bloque.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  /*Se muestre en la totalidad y no se mueva con el scroll*/
}

.parallax.image-2 {
  background-image: url("../css/img/iglesia-e.jpg");
}

.parallax.image-3 {
  background-image: url("../css/img/jardin.jpg");
}

.parallax.image-4 {
  background-image: url("../css/img/anillo.jpg");
}

.btn a {
  border: none;
  color: white;
  background-color: #b39555;
  padding: 8px 25px;
  border-radius: 5px;
  display: block;
  margin: 20px auto 10px auto;
  width: 120px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  color:#b39555;
  background-color: white;
  border: 3px solid #b39555;
  transform: scale(0.95);
}

.icon {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #566270;
}

section {
  /*height: 80vh;*/
  margin-top: 2rem;
  background-image: url("../css/img/lila.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

#footer a {
  position: absolute;
  width: 100%;
  font-style: italic;
  height: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 120px;
  background: linear-gradient(90deg, rgb(211, 207, 230) 0%, rgb(147, 147, 199) 11%, rgb(136, 96, 148) 57%);
}
.send a {
  border: none;
  color: white;
  background-color: #b39555;
  padding: 8px 25px;
  border-radius: 5px;
  display: block;
  margin: 20px auto 10px auto;
  width: 120px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.send:hover {
  background-color: white;
  transform: scale(0.95);
}


/********* @media queries********/





@media only screen and (min-width: 320px) and (max-width: 768px) {
  .presentation {
    background-image: url(../css/img/nos-casamos.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
   
  }

  .contain-presentation {
    position: absolute;
    right: 15%;
    margin-bottom: 85px;
  }

  .title{
    font-size: 23px;
 
  }

  h1{
    font-size: 30px;
   
  }

  .date{
    font-size: 25px;
    margin-bottom: 135;
    
  }


  #contador {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Gentium Basic", serif;
    color: #566270;
    block-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 2px;
  }
}

