@import url('https://fonts.googleapis.com/css2? family= Alex+Brush & display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


/*---------Presentación----------*/
.presentation {
  background-image: url("/css/img/picture_boda.jpg");
  background-size:  400px 300 ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  font-family: "Gentium Basic", serif;
  margin-top: 35px;
  color: #566270;
  text-align: center;
  font-size: 25px;
 }

.subtitle{
  font-family:  'Alex Brush', cursiva;
  color: #B39555;
  text-align: center;
  font-size: 50px;
  padding: 55px;
}

h1 {
  font-family:  'Alex Brush', cursiva;
  font-size: 80px;
  font-weight: lighter;
  color:#510b4b;
  text-align: center;
  margin-bottom: 50px;
 /*------movimiento del titulo-----*/
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-fill-mode: initial;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

p {
  margin-top: 20px;
  font-family: "Gentium Basic", serif;
  font-size: 25px;
  font-weight: 250;
  color: #566270;
  text-align: center;
}

.date {
  font-family: "Gentium Basic", serif;
  font-size: 40px;
  color: #566270;
  text-align: center;
  padding-bottom: 50px;
 }

/* ----- Cuenta Regresiva ----- */
#contador {
  display: flex;
  justify-content: center;
  font-family: "Gentium Basic", serif;
  color: #566270;
  block-size: 80px;
}

.simply-section {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
}

.simply-word {
  font-weight: 200;
  font-size: 25px;
}

.church {
  padding: 5px;
  width: 20px;
  display: flex;
  justify-content: center;
background-color: #510b4b;
margin-bottom: 30px;
}

.section-counter{
  margin-top: 40px;
}

/*------ceremonia-----*/
.ceremony {
  background-image: url("/css/img/ParroquiaDivinaProv.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-bottom: 99px;
}


.fa-champagne-glasses {
  font-size: 36px;
  margin: 0 650px;
  color: #566270;
  align-content: center;
  display: grid;
  justify-content: center;
}


.contenedor {
  max-width: 960px;
  margin: 0 auto;
}

.bloque h2 {
  margin-bottom: 50px;
  font-size: 25px;

}
.bloque h1 {
 
  line-height: 80px;
  text-align: center;
  margin: 0;
  padding-block: 150px;
  
}
.bloque p {
  margin-bottom: 50px;
  font-size: 25px;
}

.bloque.parallax {
  height: 600px;
  background-position:50% 50% ;
  background-size: cover;
  background-attachment: fixed;/*Se muestre en la totalidad y no se mueva con el scroll*/
}

.parallax.image-2{
  background-image: url("/css/img/ParroquiaDivinaProv.jpg");
}

.parallax.image-3 {
  background-image: url("/css/img/salon.jpg");
}

.parallax.image-4 {
  background-image: url("/css/img/lilas.jpg");
}

.btn{
 justify-content: center;
 display: flex;
}

.btn_ubic{
  
  color:white;
  background-color: #B39555;
  
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btn_ubic:hover {
  color:black;
  background-color: white;
  border: 3px solid  #B39555;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
  background-color: #f192e9; 
  display: flex;
  justify-content: center;        /* Footer height */
}
